* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #f9f8f6;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {

  margin: 0 auto;

}

header {
  top: 0;
  background-color: white;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 100px 0.5fr 0.7fr 100px;
}

nav {
  grid-column: 3/4;
}

.sub-nav {
  color: grey;
}

.main-content {
  padding: 150px 0;
}

.logo {
  grid-column: 2/3;
  align-self: center;
  font-family: 'Vidaloka', serif;
  font-size: 24px;
}

img {
  width: 20%;
}

.title {
  text-align: center;
  margin-bottom: 10%;
}

.subtitle-h1 {
  margin: 0px;
  font-size: 76px;
}

.subtitle-h3 {
  font-family: 'Vidaloka', serif;
  font-size: 25px;
  margin: 0px;
}

.subtitle-p {
  font-size: 14px;
  color: grey;
  letter-spacing: 2px;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
  align-items: center;
}

li {
  font-size: 18px;
}

li .invest-button {
    border: 1px solid #ffb219;
    border-radius: 33px;
    background: #ffb219;
    padding: 10px 15px;
    color: white;
}

.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}


.card {
  display: grid;
  justify-items: center;
  padding: 0 5%;
}
